<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h3>User Information</h3>
            <ul class="nav nav-pills">
                <li ><a href="/create">Create User</a></li>
                <li class="active"><a href="/report">User Report</a></li>
            </ul>
        </div>
        <div class="container">
            <form action="http://127.0.0.1:3000/delete" method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Student ID</th>
                        <th>Department</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% students.forEach(function(student){ %>
                        <tr>
                            <td><%= student.stuName %></td>
                            <td><%= student.stuId %></td>
                            <td><%= student.department %></td>
                            <td><button class="btn btn-success" type="submit" name="dbutton"
                                        value="<%=student.stuId%>" id="<%=student.stuId%>">Delete</button></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            </form>
        </div>
</body>
</html>